// Colors

$copy-color: #444;
$copy-color-light: #fff;
$main-color: #74c27a;
$accent-color: #f1667d;
$accent-light: #f6faf6;

// Fonts

$serif: Georgia, Times, "Times New Roman", serif;
$sans-serif: "museo-sans", sans-serif;
$base-font-size: 1.6;

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

// Setting baseline styles

html{
	font-size: 62.5%;
	@include breakpoint(small) { font-size: 70%; }
	@include breakpoint(medium) { font-size: 80%; }
}

body{
	@include font-size($base-font-size);
}

html, button, input, select, textarea{
	font-family: $serif;
	color: $copy-color;
}

p{
	line-height: 1.5;
}

.hidden{
	opacity: 0;
}

// links and buttons

a{
	@include link-colors($main-color, shade($main-color, 20%),shade($main-color, 30%), $main-color, shade($main-color, 20%));
	transition: color 200ms ease-out;
}

.button, input.button{
	font-family: $sans-serif;
	color: $copy-color-light;
	background: $main-color;
	border: none;
	outline: none;
	display: inline-block;
	padding: 6px 10px;
}

// headings

.headline, h1, .h1, h2, .h2, h3, .h3{
	font-family: $sans-serif;
	font-weight: 300;
}

h1, .h1{
	@include font-size(3);
}

h2, .h2{
	@include font-size(2);
}

h3, .h3{
	@include font-size(1.8);
}


