// Colors

$copy-color: #444;
$copy-color-light: #fff;
$main-color: #74c27a;
$accent-color: #f1667d;

// Fonts

$serif: Georgia, Times, "Times New Roman", serif;
$sans-serif: "museo-sans", sans-serif;
$base-font-size: 1.6;

// Setting baseline styles

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

html{
	font-size: 62.5%;
}

body{
	@include font-size($base-font-size);
}

html, button, input, select, textarea{
	font-family: $serif;
	color: $copy-color;
}

// links and buttons

a{
	@include link-colors($main-color, shade($main-color, 10%),shade($main-color, 20%), $main-color, shade($main-color, 10%));
}

.button, input.button{
	color: $copy-color-light;
	background: $main-color;
}

// headings

.headline, h1, .h1, h2, .h2, h3, .h3{
	font-family: $sans-serif;
	font-weight: 300;
}

h1, .h1{
	@include font-size(3);
}

h2, .h2{
	@include font-size(2);
}

h3, .h3{
	@include font-size(1.8);
}


