.site-header{
	background: $main-color;
	color: $copy-color-light;
	padding: 10px 20px 15px 20px;
	position: relative;
}

.site-header a{
	@include link-colors($copy-color-light);
	text-decoration: none;
}

.site-headline{
	@include font-size(3);
	margin: 0;
}

.site-sub-headline{
	@include font-size(1.4);
	margin: -.3em 0 0 .7em;
}

.site-header:after{
	position: absolute;
	bottom: -15px;
	left: -270px;
	content: "";
	display: block;
	width: 0;
	height: 15px;
	border: 270px solid transparent;
	border-bottom-width: 0;
	border-top-width: 15px;
	border-top-color: $main-color;
}