.main-content{
	// margin-top: 40px;
	border-top: 40px solid $accent-light;
	padding: 20px;
	z-index: 1;
}

// article lister

.article-li{
	max-width: 27em;
	@include breakpoint(medium) { max-width: 30em }
	margin: 0 auto;
	margin-bottom: 2em;
	border-bottom: 1px solid $accent-color;
}

.article-li:last-child{
	border: none;
}

.article-li, .post-header{

	.headline{
		margin-bottom: 0;

		a{
			text-decoration: none;
		}
	}

	.meta{
		margin: 0;
		@include font-size(1.4);
	}
}

