.nav-primary{
	margin: 20px 0 0 0;
	float: right;
	// border-top: 1px solid $copy-color-light;
}

.nav-primary ul{
	margin: .4em 0 0 0;
	padding:0;
}

.nav-primary li{
	display: inline-block;
	padding: 0 0 0 1em;
}

.nav-primary a{
	@include link-colors($copy-color, shade($copy-color, 20%),shade($copy-color, 30%), $copy-color, shade($copy-color, 20%));
	font-family: $sans-serif;
}

.nav-primary .active{
	font-weight: bold;
}