// structure

.post-header, .post, .comments{
	max-width: 30em;
	@include breakpoint(medium) { max-width: 30em }
	margin: 0 auto;
}

.post-header{
	margin-bottom: 2em;
}

.post{
	line-height: 1.5;
	padding-bottom: 2em;
}

.comments{
	padding: 2em 0;
	border-top: 1px solid $accent-color;
}

// styles

pre{
	padding: 2em;
	border-radius: 6px;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	background: linear-gradient(90deg, $accent-light 0%, rgba(255,255,255,0)), linear-gradient(-90deg, $accent-light 0%, rgba(255,255,255,0)) 100% 0, radial-gradient( farthest-side at 0% 50%, rgba(0,0,0,.2), rgba(0,0,0,0) ), radial-gradient( farthest-side at 100% 50%, rgba(0,0,0,.2), rgba(0,0,0,0) ) 100% 0%;
	background-repeat: no-repeat;
	background-color: $accent-light;
	background-size: 100px 100%, 100px 100%, 14px 100%, 14px 100%;
	background-attachment: local, local, scroll, scroll;
}

code{
	overflow: auto;
	word-wrap: normal;
	white-space: pre;
}

blockquote{
	margin-left:0;
	padding-left: 1em;
	border-left: 1px solid $accent-color;
}