// structure

.post-header, .post, .comments{
	max-width: 30em;
	@include breakpoint(medium) { max-width: 30em }
	margin: 0 auto;
}

.post-header{
	margin-bottom: 2em;
}

.post{
	line-height: 1.5;
	padding-bottom: 2em;
}

.comments{
	padding: 2em 0;
	border-top: 1px solid $accent-color;
}

// styles

pre{
	padding: 2em;
	background: $accent-light;
	border-radius: 6px;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

code{
	overflow: auto;
	word-wrap: normal;
	white-space: pre;
}

blockquote{
	margin-left:0;
	padding-left: 1em;
	border-left: 1px solid $accent-color;
}